* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 270px;
    height: 100vh;
    background-color: #1a222b;
}

.opcoes-menu li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.opcoes-menu li a{
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    transition: all 0.2s ease;
}

.opcoes-menu li a:hover{
    background-color: #84addc;
    color: #1a222b;
}

