{% extends "_base.html" %}

{% block title %}
Página de Login
{% endblock %}

{% block content %}
<div class="login">
    <h1 class="login-title">Seja bem-vindo!</h1>
    <form class="form">
        <input class="name" type="text" id="nome" name="nome" placeholder="Digite o nome do usuário">
        <input class="password" type="password" id="senha" name="senha" placeholder="Insira a senha">
        <button class="button" type="submit">Entrar</button>
    </form>
    <p><a href="#" class="forgot-password">Esqueceu a senha?</a></p>
</div>
{% endblock %}
